<!-- default-footer.hbs -->
<div class="flexy">
    {{#if @site.logo}}
    <figure class="rapid-logo"><a href="{{@site.url}}" title="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a></figure>
    {{else}}
    <figure class="rapid-logo"><a href="{{@site.url}}" title="{{@site.title}}"><img src="{{asset 'images/new-logo.png'}}" alt="{{@site.title}}" /></a></figure>
    {{/if}}
</div>
<div class="flexy">
    <h6>Explore</h6>
    <ul class="nav flexy">
        <li role="menuitem"><a href="/" title="Homepage">Homepage</a></li>
        <li role="menuitem"><a href="/about/" title="About">About</a></li>
        <li role="menuitem"><a href="/solutions/" title="Solutions">Solutions</a></li>
        <li role="menuitem"><a href="/work/" title="Work">Work</a></li>
        <li role="menuitem"><a href="/insights/" title="Insights">Insights</a></li>
        <li role="menuitem"><a href="/contact/" title="Contact">Contact</a></li>
    </ul>
</div>
<div class="flexy">
    <h6>Solutions</h6>
    <ul class="nav flexy">
        <li role="menuitem"><a href="/solutions/billing-system/" title="Billing System">Billing System</a></li>
        <li role="menuitem"><a href="/solutions/safety-and-compliance/" title="Safety and Compliance">Safety &amp; Compliance</a></li>
        <li role="menuitem"><a href="/solutions/estates/" title="Estates">Estates</a></li>
        <li role="menuitem"><a href="/solutions/education-and-welfare/" title="Education and Welfare">Education &amp; Welfare</a></li>
        <li role="menuitem"><a href="/solutions/communication/" title="Communication">Communication</a></li>
    </ul>
</div>
<div class="flexy">
    <h6>Contact</h6>
    <ul>
        <li>+44 1707 520 711</li>
        <li>info@rapid-is.co.uk</li>
    </ul>
    <div class="social-icons flexy row">
        {{> "social-icons"}}
    </div>
</div>