<div class="flexy">
    {{#if @site.logo}}
    <a href="{{@site.url}}" title="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
    <figure class="rapid-logo"><a href="/" title="{{@site.title}}"><img src="{{asset 'images/new-logo.png'}}" alt="{{@site.title}}" /></a></figure>
    {{/if}}
</div>
<div class="flexy">
    <h6>Explore</h6>
    <ul class="nav flexy">
        <li><a href="#">Homepage</a></li>
        <li><a href="#">About</a></li>
        <li role="menuitem"><a href="/solutions/" title="Solutions">Solutions</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Insights</a></li>
        <li role="menuitem"><a href="/contact/" title="Get in touch">Get in touch</a></li>
    </ul>
</div>
<div class="flexy">
    <h6>Solutions</h6>
    <ul class="nav flexy">
        <li><a href="#" title="Communication tools">Communication tools</a></li>
        <li><a href="#" title="Property management">Property management</a></li>
        <li><a href="#" title="Education &amp; welfare">Education &amp; welfare</a></li>
        <li><a href="#" title="Housing &amp; homelessness">Housing &amp; homelessness</a></li>
        <li><a href="#" title="Compliance &amp; safety">Compliance &amp; safety</a></li>
        <li><a href="#" title="Tenancy management">Tenancy management</a></li>
    </ul>
</div>
<div class="flexy">
    <h6>Contact</h6>
    <ul>
        <li>+44 1707 520 711</li>
        <li>info@rapid-is.co.uk</li>
    </ul>
    <div class="social-icons flexy row">{{> "social-icons"}}</div>
</div>