<div class="flexy">
    {{#if @site.logo}}
    <a href="{{@site.url}}" title="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
    <figure class="rapid-logo"><a href="/" title="{{@site.title}}"><img src="{{asset 'images/new-logo.png'}}" alt="{{@site.title}}" /></a></figure>
    {{/if}}
</div>
<div class="flexy">
    <h6>Explore</h6>
    <ul>
        <li>Homepage</li>
        <li>About</li>
        <li>Platform</li>
        <li>Work</li>
        <li>Insights</li>
        <li>Contact</li>
    </ul>
</div>
<div class="flexy">
    <h6>Solutions</h6>
    <ul>
        <li>Communication Tools</li>
        <li>Caretaker Software</li>
        <li>Education &amp; Welfare Services</li>
        <li>Smart Facility</li>
        <li>Housing &amp; Homelessness</li>
        <li>Compliance</li>
        <li>Tenancy Management</li>
    </ul>
</div>
<div class="flexy">
    <h6>Contact</h6>
    <ul>
        <li>+44 1707 520 711</li>
        <li>info@rapid-is.co.uk</li>
    </ul>
    <div class="social-icons flexy row">{{> "social-icons"}}</div>
</div>