<!-- integration.hbs -->
<section id="rapid-integration" class="flexy">
    {{#get "posts" filter="tag:hash-core+visibility:public" order="title asc" limit=@config.posts_per_page}}{{#if posts}}{{#foreach posts}}{{#has slug="integration"}}<hgroup class="flexy">
        <h2 id="{{slug}}-post" title="{{title}}">{{title}}</h2>
    </hgroup>{{/has}}{{/foreach}}{{else}}<pre>There is no content to return&period;</pre>{{/if}}{{else}}<pre class="get-posts-error">{{error}}</pre>{{/get}}
    <article class="flexy">
        {{content}}
    </article>
</section>