<!-- loop.hbs -->
<section class="loop palette flexy">
    <hgroup class="flexy">
        <h3>All <span class="loop-name">{{name}}</span>&hellip;</h3>
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}+visibility:public" order="published_at asc" limit=@config.posts_per_page as |post pages|}}{{^if post}}<p>No content&excl;</p>
        <p class="get-posts-error">{{error}}</p>
        </hgroup>{{else}}</hgroup>
    <ul class="container flexy">
        {{#foreach post}}<li class="flexy {{#if @even}}even{{else}}odd{{/if}}"><a href="{{url absolute='true'}}" title="{{title}}">{{title}} <span>Featured</span></a></li>{{/foreach}}
    </ul>
    {{log pagination}}
    {{pagination}}{{/if}}{{/get}}
</section>