{{#if isSecondary}}
<ul class="nav flexy row" role="menu">
    {{#foreach navigation}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/foreach}}
</ul>
{{else}}
<ul class="nav flexy row" role="menu">
    {{#foreach navigation}}
    {{#has slug="solutions"}}
    <li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}"><span>{{label}}</span>{{> "icons/arrow-down"}}</a></li>
    {{else}}
    <li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>
    {{/has}}
    {{/foreach}}
</ul>
<ul class="solutions-nav flexy row">
    <li><a href="#" title="Communication tools">{{> "icons/arrow-right"}}<span>Communication tools</span></a></li>
    <li><a href="#" title="Property management">{{> "icons/arrow-right"}}<span>Property management</span></a></li>
    <li><a href="#" title="Education and welfare">{{> "icons/arrow-right"}}<span>Education &amp; welfare</span></a></li>
    <li><a href="#" title="Housing and homelessness">{{> "icons/arrow-right"}}<span>Housing &amp; homelessness</span></a></li>
    <li><a href="#" title="Compliance and safety">{{> "icons/arrow-right"}}<span>Compliance &amp; safety</span></a></li>
    <li><a href="#" title="Tenancy management">{{> "icons/arrow-right"}}<span>Tenancy management</span></a></li>
</ul>
{{/if}}