<!-- navigation.hbs -->
{{#if isSecondary}}
<ul class="nav flexy row" role="menu">
    {{#foreach navigation}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/foreach}}
</ul>
{{else}}
<nav class="flexy">
    <ul class="nav flexy row" role="menu">
        {{#foreach navigation}}
        {{#has slug="about"}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}" class="flexy row">
            <span>{{label}}</span>
            {{> "icons/angle-down"}}</a></li>{{else has slug="solutions"}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}" class="flexy row">
                <span>{{label}}</span>
                {{> "icons/angle-down"}}</a></li>{{else}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/has}}
        {{/foreach}}
    </ul>
    <ul class="about-nav flexy row">
        <li><a href="/team/" title="Careers" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Team</span></a></li>
        <li><a href="/careers/" title="Team" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Careers</span></a></li>
        <li><a href="/support/" title="Support" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Support</span></a></li>
    </ul>
    <ul class="solutions-nav flexy row">
        <li><a href="/solutions/billing-system/" title="Billing System" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Billing System</span></a></li>
        <li><a href="/solutions/communication/" title="Communication" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Communication</span></a></li>
        <li><a href="/solutions/education-and-welfare/" title="Education and Welfare" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Education &amp; Welfare</span></a></li>
        <li><a href="/solutions/estates/" title="Estates" class="flexy row">
        {{> "icons/angle-down"}}
        <span>Estates</span></a></li>
        <li><a href="/solutions/safety-and-compliance/" title="Safety and Compliance" class="flexy row">
        {{> "icons/angle-down"}}<span>Safety &amp; Compliance</span></a></li>
    </ul>
</nav>
<span data-html-symbol="trigram-for-heaven">&#9776;</span>
{{/if}}