{{#if isSecondary}}
<ul class="nav flexy row" role="menu">
    {{#foreach navigation}}<li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>{{/foreach}}
</ul>
{{else}}
<ul class="nav flexy row" role="menu">
    {{#foreach navigation}}
    {{#has slug="solutions"}}
    <li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}"><span>{{label}}</span>{{> "icons/angle-down"}}</a></li>
    {{else}}
    <li class="{{link_class for=(url) class=(concat 'nav-' slug)}}" role="menuitem"><a href="{{url absolute='true'}}" title="{{label}}">{{label}}</a></li>
    {{/has}}
    {{/foreach}}
</ul>
<ul class="solutions-nav flexy row">
    <li><a href="/solutions#billing-system" title="Billing system">{{> "icons/angle-down"}}<span>Billing system</span></a></li>
    <li><a href="/solutions#safety-compliance" title="Safety and compliance">{{> "icons/angle-down"}}<span>Safety &amp; compliance</span></a></li>
    <li><a href="/solutions#estates" title="Estates">{{> "icons/angle-down"}}<span>Estates</span></a></li>
    <li><a href="/solutions#education-welfare" title="Education and welfare">{{> "icons/angle-down"}}<span>Education &amp; welfare</span></a></li>
    <li><a href="/solutions#communication" title="Communication">{{> "icons/angle-down"}}<span>Communication</span></a></li>
</ul>
{{/if}}