<!-- prev-next.hbs -->
<div class="prev-next flexy row">
    {{#prev_post in="primary_tag"}}<a href="{{url absolute='true'}}" title="Previous&colon; {{title}}" data-prev-post="{{title}}"><span>&LeftArrow;</span> Previous post</a>{{/prev_post}}
    {{#next_post in="primary_tag"}}<a href="{{url absolute='true'}}" title="Next&colon; {{title}}" data-next-post="{{title}}">Next post <span>&RightArrow;</span></a>{{/next_post}}
</div>