<!-- rapid-widgets.hbs -->
{{#get "posts" filter="tag:hash-rapid-widgets+visibility:public" order="title asc" limit=6}}{{#if posts}}{{#foreach posts}}<figcaption class="flexy">
    <h3 id="{{slug}}-tab" title="{{title}}">{{title}}</h3>
    <p>{{excerpt}}</p>
</figcaption>{{/foreach}}{{else}}<figcaption>There is no content to return&period;</figcaption>{{/if}}{{else}}<figcaption class="get-posts-error">{{error}}</figcaption>{{/get}}