<!-- sharing.hbs -->
<h6>Share</h6>
<ul class="flexy row">
    <li><a href="https://x.com/share?text=Check out {{encode title}}&url={{url absolute='true'}}&via=rapidinfosys&related=sabuein" onclick="window.open(this.href, 'X-Share', 'width=550,height=235'); return false;" title="Share on X">X</a></li>
    <li><a href="https://www.linkedin.com/shareArticle/?url={{url absolute='true'}}&title={{encode title}}&summary={{encode excerpt}}" onclick="window.open(this.href, 'LinkedIn-Share', 'width=550,height=235'); return false;" title="Share on LinkedIn">LinkedIn</a></li>
    <li><a href="https://api.whatsapp.com/send/?text=Check {{encode title}} at {{url absolute='true'}}&type=custom_url&app_absent=0" onclick="window.open(this.href, 'WhatsApp-Share', 'width=550,height=235'); return false;" title="Share on WhatsApp">WhatsApp</a></li>
</ul>