<!-- sharing.hbs -->
<div id="sharing-is-caring" class="flexy row">
    <h6 title="Share this post"><span>&#x27A6;</span>Share this post</h6>
    <ul class="flexy row">
        <li><a href="https://x.com/share?text=Check out {{encode title}}&url={{url absolute='true'}}&via=rapidinfosys&related=sabuein" onclick="window.open(this.href, 'X-Share', 'width=550,height=235'); return false;" target="_blank" title="Post on X">X</a></li>
        <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute='true'}}&title={{encode title}}" onclick="window.open(this.href, 'LinkedIn-Share', 'width=550,height=235'); return false;" target="_blank" title="Post on LinkedIn">LinkedIn</a></li>
        <li><a href="https://api.whatsapp.com/send/?text=Check {{encode title}} at {{url absolute='true'}}&type=custom_url&app_absent=0" onclick="window.open(this.href, 'WhatsApp-Share', 'width=550,height=235'); return false;" target="_blank" title="Share on WhatsApp">WhatsApp</a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{url absolute='true'}}{{#if feature_image}}&media={{img_url feature_image absolute='true'}}{{/if}}&description={{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt words="50"}}{{/if}}" onclick="window.open(this.href, 'Pinterest-Share', 'width=550,height=235'); return false;" target="_blank" title="Pin on Pinterest">Pinterest</a></li>
    </ul>
</div>