<!-- social-icons.hbs -->
{{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener"><img src="{{asset 'images/social/facebook.png'}}" alt="Facebook" /></a>{{/if}}
{{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener"><img src="{{asset 'images/social/twitter.png'}}" alt="Twitter" /></a>{{/if}}
<a href="rapidinformationsystems" title="Skype" target="_blank" rel="noopener"><img src="{{asset 'images/social/skype.png'}}" alt="Skype" /></a>
<a href="https://www.youtube.com/@Rapid-isUk" title="YouTube" target="_blank" rel="noopener"><img src="{{asset 'images/social/youtube.png'}}" alt="YouTube" /></a>
<a href="https://www.linkedin.com/company/rapid-information-systems/" title="LinkedIn" target="_blank" rel="noopener"><img src="{{asset 'images/social/linkedin.png'}}" alt="LinkedIn" /></a>