<!-- testimonials.hbs -->
<section id="client-testimonials" class="palette flexy">
    {{!-- This partial requires a parent with class "get-testimonials" --}}
    <hgroup class="flexy" title="Client&apos;s testimonials and reviews">
        <h2>Client&apos;s <strong>testimonials</strong> &amp; <strong>reviews</strong>&period;</h2>
        <p>Read our client&apos;s testimonials and reviews below&period; We are extremely proud of the feedback we have received from our clients over the years&colon;</p>
    </hgroup>
    <div class="container disable-scrollbar flexy row">
        {{#get "posts" filter="tag:testimonials+visibility:public" order="title asc" limit=5}}
        {{#foreach posts}}
        <blockquote class="{{post_class}} flexy row shadowed" data-play-state="running" cite="https://www.stevenage.gov.uk/">
            <header class="flexy" title="{{title}}">
                <h3 id="quote-{{@number}}">{{title}}</h3>
                {{#if feature_image}}<figure class="bg-image" style="background-image: url({{img_url feature_image absolute='true'}});">
                <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" />
                </figure>{{/if}}
            </header>
            {{content words="70"}}
            <p>&dash; Ryan Ansell&comma; Assistant Programme Manager at <cite>Stevenage Borough Council</cite></p>
        </blockquote>
        {{/foreach}}
        {{else}}
        <pre class="get-posts-error">{{error}}</pre>
        {{/get}}
        <ol class="flexy row">
            <li title="1" class="currently-active" aria-labelledby="quote-1">&nbsp;</li>
            <li title="2" aria-labelledby="quote-2">&nbsp;</li>
            <li title="3" aria-labelledby="quote-3">&nbsp;</li>
            <li title="4" aria-labelledby="quote-4">&nbsp;</li>
            <li title="5" aria-labelledby="quote-5">&nbsp;</li>
        </ol>
    </div>
    <div>
        <a href="#" class="next-testimonial" title="Next testimonial">
            {{> "icons/angle-down"}}
        </a>
        <a href="#" class="prev-testimonial" title="Previous testimonial">
            {{> "icons/angle-down"}}
        </a>
    </div>
    <footer class="flexy">
        <a href="#newsletter" title="Continue" class="shadowed">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>