<!-- vacancies.hbs -->
<section id="check-our-vacancies" class="get-job-vacancies flexy row">
    <figure class="flexy">
        {{> "drawings/hiring"}}
    </figure>
    <div class="container disable-scrollbar flexy">
        <hgroup class="flexy">
            <h2>Join our <strong>team&period;</strong></h2>
            <p>Explore jobs at Rapid&period; Whether you&apos;re just starting your career or already have work experience&comma; see for yourself the variety of jobs Rapid has to offer&colon;</p>
        </hgroup>
        {{#get "posts" filter="tag:hash-vacancies+visibility:public" order="featured desc, published_at asc" limit=@config.posts_per_page}}
        {{#foreach posts}}
        <article class="{{post_class}} flexy" data-index="{{@index}}">
            <header class="flexy">
                <h3>{{title}}</h3>
                {{#if feature_image}}<figure class="bg-image" style="background-image: url({{img_url feature_image absolute='true'}});">
                    <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" />
                    {{#if custom_excerpt}}<figcaption>{{custom_excerpt}}</figcaption>{{/if}}
                </figure>{{/if}}
            </header>
            <div>
                {{content}}
            </div>
            <footer>
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </footer>
        </article>
        {{else}}
        <pre>Thank you for your interest&period; Unfortunately&comma; we are not hiring at this time&period;</pre>
        <pre>Please check back as we will most certainly be looking for great people to join our team in the future&period;</pre>
        {{/foreach}}
        {{else}}
        <pre class="get-posts-error">{{error}}</pre>
        {{/get}}
    </div>
</section>