{{!< default}}
<!-- custom-solutions.hbs -->
{{#is "post"}}
{{#post}}
<section class="palette flexy row" data-slug="{{slug}}">
    <hgroup class="flexy">
        <h1 id="{{slug}}-outer" title="{{title}}">{{title}}</h1>
        <p>{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt words="51"}}&hellip;{{/if}}</p>
    </hgroup>
    {{#if feature_image}}<figure class="flexy bg-image" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}}; {{/if}}{{/primary_tag}}background-image: url({{img_url feature_image absolute='true'}});">
        {{#has slug="estates"}}
        {{> "drawings/smart-home"}}
        {{else has slug="communication"}}
        {{> "drawings/texting"}}
        {{else has slug="education-and-welfare"}}
        {{> "drawings/learning"}}
        {{else has slug="billing-system"}}
        {{> "drawings/pay-online"}}
        {{else has slug="safety-and-compliance"}}
        {{> "drawings/the-search"}}
        {{else}}
        <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" loading="lazy" />
        {{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
        {{/has}}
    </figure>{{/if}}
    <footer class="flexy">
        <p class="reading-time">{{reading_time minute=(t "Only a minute") minutes=(t "Takes % minutes")}} to read&hellip;</p>
        <a href="#content" title="Continue" class="shadowed">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>
<article id="content" class="palette flexy">
    <div class="content-body flexy">
        {{content}}
    </div>
</article>
<footer class="palette flexy">
    {{> "sharing"}}
    {{> "prev-next"}}
</footer>
{{> "cta-contact"}}
{{/post}}
{{/is}}