<!DOCTYPE html>
<!-- default.hbs -->
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset "css/screen.css"}}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{asset "css/footer.css"}}" type="text/css" media="screen" />
        <script src="{{asset "js/application.mjs"}}" type="module"></script>
        <title>{{#is "home"}}{{@site.title}} &#8211; {{@site.description}}{{else}}{{meta_title}} &#8211; {{@site.title}}{{/is}}</title>
        {{ghost_head}}
    </head>
    <body class="{{body_class}} flexy">
        {{> "default-header"}}
        <dialog id="get-in-touch" class="flexy">
            {{> "default-form"}}
        </dialog>
        <main id="main-content" class="{{post_class}} flexy" role="main">
            {{{body}}}
            <section id="newsletter" class="flexy row">
                {{> "newsletter"}}
                <footer class="flexy">
                    <a href="#main-content" title="Back to top">Back to top&hellip;</a>
                    <a href="#site-footer" title="Continue to the site footer&hellip;" class="continue">
                        {{> "icons/angle-down"}}
                    </a>
                </footer>
            </section>
        </main>
        <footer id="site-footer" class="flexy" role="contentinfo">
            <div data-divider="top">
                {{> "icons/divider-tilt"}}
            </div>
            <section class="flexy row">
                {{> "default-footer"}}
            </section>
            <pre>Registered in England and Wales. Company registration number 05494744. VAT registration number 881993663. ICO registration number ZA471303. D-U-N-S number 346902047.</pre>
            <pre>Made with <span class="hearts" title="unconditional love">&hearts;</span> from Welwyn Garden City and East London&period;</pre>
            <a href="#main-content" title="Back to top">Back to top&hellip;</a>
            <section class="flexy row">
                <p>&copy; 2005 &dash; {{date format="YYYY"}} <a href="{{@site.url}}" title="{{@site.title}} Ltd">{{@site.title}} Ltd</a>&period; All Rights Reserved&period;</p>
                {{navigation type="secondary"}}
            </section>
        </footer>
        <aside class="cookies flexy">
            {{> "cookies"}}
        </aside>
        {{ghost_foot}}
    </body>
</html>