{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<section class="pre-clients flexy">
    <article class="main-message flexy row">
        <div class="flexy">
            <h1>Integrate your IT systems&comma; get more done&period;</h1>
            <p><a href="#briefly" title="">Rapid</a> simplifies digital transformation&comma; enhancing services&comma; saving costs&comma; and providing structured data for efficiency&comma; accuracy&comma; and AI insights&period;</p>
        </div>
        <figure>{{> "drawings/version-control"}}</figure>
    </article>
    <article class="five-clients flexy row">
        <h3>Trusted by 30+ providers of <a href="#social-housing" title="Social housing">social housing</a> in the UK&hellip;</h3>
        <div class="flexy row disable-scrollbar">
            <figure><img src="{{asset 'images/clients/enfield.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/camden.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/ealing.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/cgl.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/eastherts.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/haringey.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/hertfordshire.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/islington.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/lambeth.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/lewisham.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/optivo.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/rhp.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/stevange.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/towerhamlets.png'}}" alt="" /></figure>
            <figure><img src="{{asset 'images/clients/westminster.png'}}" alt="" /></figure>
        </div>
    </article>
</section>

<section class="the-app flexy row">
    <div class="flexy">
        <h2>Introducing compliance software application: Streamline and enhance property compliance</h2>
        <p>Our compliance software application is a robust and comprehensive solution designed to simplify and streamline property compliance processes&period; With a range of powerful features, our software empowers property managers, inspectors, and safety professionals to ensure compliance with regulations, mitigate risks, and prioritize the well-being of residents. From asbestos management to fire safety inspections and health and safety monitoring, our software covers all essential compliance areas.</p>
        <div class="cta-button flexy row">
            <button type="button">Learn more</button>
        </div>
    </div>
    <figure><img src="{{asset 'images/rapid-fire.png'}}" alt="" /></figure>
</section>

{{!-- Something short about Rapid --}}
<section id="briefly" class="flexy row">
    <article class="flexy row">
        <div class="flexy">
            <p>Rapid produce an exciting and disruptive low&dash;code platform which we use to create desktop&comma; mobile&comma; and forms apps to help local authorities improve their services&comma; especially in social housing&period;</p>
            <p>Based just North of London in Welwyn Hatfield we are a small and growing company&comma; able to offer friendly and supportive working arrangements&period; Our customers are great&comma; and the work is varied and never dull&excl;</p>
            <a href="#main-content" title="Back to top">Back&hellip;</a>
        </div>
        <figure>{{!--> "drawings/version-control"--}}</figure>
    </article>
    <button type="button">Learn more</button>
</section>

<section class="ready-to-talk flexy">
    <h3>Ready to talk? Let&apos;s make it happen&excl;</h3>
    <form>
        <input type="text" name="company" id="talkName" placeholder="Company name&hellip;" />
        <input type="tel" name="phone" id="talkTel" placeholder="Phone number&hellip;" />
        <input type="email" name="email" id="talkEmail" placeholder="Email address&hellip;" />
        <input type="submit" value="Talk to me" />
    </form>
</section>

<section class="knowhow flexy">
    <h3>The Knowhow</h3>
    <h4>Internet insights in your inbox. Often enough to be helpful but not annoying.</h4>
    <form class="flexy row">
        <figure><img src="{{asset 'images/cyber-essentials-150x150.png'}}" alt="" /></figure>
        <fieldset class="flexy">
            <input type="email" name="emailKnowhow" id="emailKnowhow" placeholder="My email address is&hellip;" />
            <input type="submit" value="Join Rapid newsletter" />
        </fieldset>
    </form>
</section>
{{/is}}