{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<section class="pre-clients flexy row">
    <div class="flexy row">
        <p>Rapid reduces the time, cost, and complexity of your digital transformation. Helping you improve your services, save money, innovate, and get structured and joined-up data for better efficiency, accuracy, performance, audit, insights, and AI.</p>
        <figure><img src="{{asset 'images/responsive-showcase-presentation.png'}}" alt="" /></figure>
    </div>
    <div class="flexy row">
        <figure><img src="{{asset 'images/clients/enfield.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/ealing.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/camden.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/cgl.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/eastherts.png'}}" alt="" /></figure>
    </div>
    <div class="five-points flexy row">
        <div class="flexy">
            <span>01.</span>
            <span>Easy to use</span>
            <p>Simple, user friendly interface can have you up and running in minutes.</p>
        </div>
        <div class="flexy">
            <span>02.</span>
            <span>Flexible</span>
            <p>Create anything with custom components, and unlimited integration.</p>
        </div>
        <div class="flexy">
            <span>03.</span>
            <span>Affordable</span>
            <p>Excellent value, and open-source allows use of amazing software libraries for free.</p>
        </div>
        <div class="flexy">
            <span>04.</span>
            <span>Secure</span>
            <p>User roles, single sign on, active directory inte- gration or other third party providers.</p>
        </div>
        <div class="flexy">
            <span>05.</span>
            <span>Single platform</span>
            <p>Simple, user friendly interface can have you up and running in minutes.</p>
        </div>
    </div>
</section>
<main class="flexy">
    <div class="flexy">
        <p>Rapid Information Systems is a young, fresh and exciting challenger software company.</p>
        <p>We produce the Rapid low-code platform – a tool to build high-quality software very quickly, and cost-effectively. The majority of our clients are public sector organisations. We help them plug the gaps in their larger IT systems by providing highly integrated web-based applications, offline mobile applications, and sophisticated forms.</p>
    </div>
    <div class="cta-buttons flexy row">
        <button type="button">Check projects</button>
        <button type="button">Learn more</button>
    </div>
</main>
<section class="platform flexy">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, nisi, sapiente quae molestiae quam fugit distinctio accusantium ipsa possimus officia eaque ad alias et cumque natus placeat voluptas voluptates odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis architecto exercitationem id, porro rerum sapiente quibusdam nobis ipsam quidem quos sed voluptates illo, vitae explicabo, quasi perferendis natus incidunt facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, deserunt cum iste molestias ratione commodi cumque nisi hic explicabo placeat at quibusdam libero, ducimus ad, pariatur quam odio consequatur ipsam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem tempore ea quasi laboriosam velit a id, non veritatis, labore quo sunt laudantium. Neque, deleniti veritatis veniam voluptatem aut enim asperiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deserunt velit odit suscipit! Ullam molestias libero excepturi, voluptates, aut tempore fuga architecto earum autem recusandae, ad cupiditate at ab aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum possimus et ducimus ipsa cumque optio velit, fuga assumenda, odit repellendus quidem reprehenderit molestias. Dolorem quasi dolores repellendus vero, debitis facere. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, sint. Explicabo harum commodi ad quod odit tenetur doloribus at ducimus minima corrupti, voluptatibus in repellendus, quisquam eum quia veritatis impedit!</p>
</section>
<section class="trusted-by flexy">
    <h3>Trusted by 30+ providers of social housing&hellip;</h3>
    <div class="flexy row">
        <figure><img src="{{asset 'images/clients/haringey.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/hertfordshire.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/islington.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/lambeth.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/lewisham.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/optivo.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/rhp.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/stevange.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/towerhamlets.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/westminster.png'}}" alt="" /></figure>
    </div>
</section>
<section class="clients flexy row">
    <h3>Accreditation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde molestiae rem adipisci cumque quis ducimus harum aspernatur placeat non, aperiam dolore incidunt numquam corrupti exercitationem! Rem ipsa debitis eos voluptatum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eius explicabo quod voluptate atque id ipsum. Iusto explicabo ducimus alias? Non, voluptatum in dolores aut quaerat debitis vitae dolorem magni.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium similique sed eveniet sapiente laborum corporis natus unde fugiat ipsam! Autem numquam nihil reiciendis minus nesciunt. Dolorem porro saepe ullam accusamus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis placeat fugit accusantium voluptates veniam at repudiandae ea, ullam dicta non dolor porro exercitationem consectetur architecto culpa animi omnis inventore ipsum.</p>
    <div class="flexy row">
        <figure><img src="{{asset 'images/cyber-essentials-150x150.png'}}" alt="" /></figure>
    </div>
</section>
<section class="ready-to-talk flexy">
    <h3>Ready to talk? Let&apos;s make it happen&excl;</h3>
    <form>
        <input type="text" name="company" id="talkName" placeholder="Company name&hellip;" />
        <input type="tel" name="phone" id="talkTel" placeholder="Phone number&hellip;" />
        <input type="email" name="email" id="talkEmail" placeholder="Email address&hellip;" />
        <input type="submit" value="Talk to me" />
    </form>
</section>
<section class="knowhow flexy">
    <h3>The Knowhow</h3>
    <h4>Internet insights in your inbox. Often enough to be helpful but not annoying.</h4>
    <form class="flexy row">
        <figure><img src="{{asset 'images/cyber-essentials-150x150.png'}}" alt="" /></figure>
        <fieldset class="flexy">
            <input type="email" name="emailKnowhow" id="emailKnowhow" placeholder="My email address is&hellip;" />
            <input type="submit" value="Join Rapid newsletter" />
        </fieldset>
    </form>
</section>
{{/is}}