{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<section class="pre-clients flexy">
    <article class="main-message flexy row">
        <div class="flexy">
            <h1>Integrate your IT systems&comma; get more done&period;</h1>
            <h2>Rapid simplifies digital transformation&comma; enhancing services&comma; saving costs&comma; and providing structured data for efficiency&comma; accuracy&comma; and AI insights&period;</h2>
        </div>
        <figure>{{> "drawings/version-control"}}</figure>
    </article>
    <article class="five-clients flexy row">
        <figure><img src="{{asset 'images/clients/enfield.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/camden.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/ealing.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/cgl.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/eastherts.png'}}" alt="" /></figure>
    </article>
</section>

<section class="the-app flexy row">
    <div class="flexy">
        <h3>Introducing compliance software application: Streamline and enhance property compliance</h3>
        <p>Our compliance software application is a robust and comprehensive solution designed to simplify and streamline property compliance processes&period; With a range of powerful features, our software empowers property managers, inspectors, and safety professionals to ensure compliance with regulations, mitigate risks, and prioritize the well-being of residents. From asbestos management to fire safety inspections and health and safety monitoring, our software covers all essential compliance areas.</p>
        <div class="cta-button flexy row">
            <button type="button">Learn more</button>
        </div>
    </div>
    <figure><img src="{{asset 'images/rapid-fire.png'}}" alt="" /></figure>
</section>

<section class="platform flexy">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, nisi, sapiente quae molestiae quam fugit distinctio accusantium ipsa possimus officia eaque ad alias et cumque natus placeat voluptas voluptates odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis architecto exercitationem id, porro rerum sapiente quibusdam nobis ipsam quidem quos sed voluptates illo, vitae explicabo, quasi perferendis natus incidunt facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, deserunt cum iste molestias ratione commodi cumque nisi hic explicabo placeat at quibusdam libero, ducimus ad, pariatur quam odio consequatur ipsam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem tempore ea quasi laboriosam velit a id, non veritatis, labore quo sunt laudantium. Neque, deleniti veritatis veniam voluptatem aut enim asperiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deserunt velit odit suscipit! Ullam molestias libero excepturi, voluptates, aut tempore fuga architecto earum autem recusandae, ad cupiditate at ab aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum possimus et ducimus ipsa cumque optio velit, fuga assumenda, odit repellendus quidem reprehenderit molestias. Dolorem quasi dolores repellendus vero, debitis facere. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, sint. Explicabo harum commodi ad quod odit tenetur doloribus at ducimus minima corrupti, voluptatibus in repellendus, quisquam eum quia veritatis impedit!</p>
</section>

<section class="trusted-by flexy">
    <h3>Trusted by 30+ providers of social housing&hellip;</h3>
    <div class="flexy row">
        <figure><img src="{{asset 'images/clients/haringey.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/hertfordshire.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/islington.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/lambeth.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/lewisham.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/optivo.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/rhp.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/stevange.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/towerhamlets.png'}}" alt="" /></figure>
        <figure><img src="{{asset 'images/clients/westminster.png'}}" alt="" /></figure>
    </div>
</section>

<section class="ready-to-talk flexy">
    <h3>Ready to talk? Let&apos;s make it happen&excl;</h3>
    <form>
        <input type="text" name="company" id="talkName" placeholder="Company name&hellip;" />
        <input type="tel" name="phone" id="talkTel" placeholder="Phone number&hellip;" />
        <input type="email" name="email" id="talkEmail" placeholder="Email address&hellip;" />
        <input type="submit" value="Talk to me" />
    </form>
</section>

<section class="knowhow flexy">
    <h3>The Knowhow</h3>
    <h4>Internet insights in your inbox. Often enough to be helpful but not annoying.</h4>
    <form class="flexy row">
        <figure><img src="{{asset 'images/cyber-essentials-150x150.png'}}" alt="" /></figure>
        <fieldset class="flexy">
            <input type="email" name="emailKnowhow" id="emailKnowhow" placeholder="My email address is&hellip;" />
            <input type="submit" value="Join Rapid newsletter" />
        </fieldset>
    </form>
</section>
{{/is}}