{{!< default}}
<!-- page.hbs -->
{{#is "page"}}
{{#post}}
{{#match @page.show_title_and_feature_image}}
<header class="flexy">
    <section class="title-meta flexy">
        <h1 title="{{title}}">{{title}}</h1>
        {{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}
    </section>
    {{#if feature_image}}<figure title="{{title}}" style="--this-feature-image: url({{img_url feature_image absolute='true'}})"><img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" /></figure>{{/if}}
    <div class="divider-bottom">
        {{> "icons/divider-wavey"}}
    </div>
</header>
{{/match}}
<section class="content flexy">
    {{content}}
</section>
<footer>
    {{!-- Show the pagination helper when there's more than one page --}}
    {{#match pagination.pages ">" 1}}{{pagination}}{{/match}}
</footer>
{{/post}}
{{/is}}