{{!< default}}
<!-- page-contact.hbs -->
{{#is "page"}}
{{#post}}
<section class="heading palette flexy row reverse">
    {{#match @page.show_title_and_feature_image}}<hgroup class="flexy">
        <h1 id="{{slug}}" title="{{title}}">{{title}}</h1>
        <p>{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt words="51"}}&hellip;{{/if}}</p>
    </hgroup>
    {{#if feature_image}}<figure class="flexy bg-image" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}}; {{/if}}{{/primary_tag}}background-image: url({{img_url feature_image absolute='true'}})">
        <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" loading="lazy" />
        {{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
    </figure>{{/if}}{{/match}}
</section>
<section id="content" class="palette flexy row">
    <article class="flexy">
        {{content}}
        <section id="map" class="palette flexy">
            <hgroup class="flexy">
                <h2 id="on-the-map" title="On the map">On the map</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dignissimos ipsa, cum laboriosam rem qui iusto.</p>
            </hgroup>
            <figure class="flexy">{{!--  bg-image" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=51.8014353,-0.197603&format=png&zoom=9&size=700x700&scale=2&maptype=roadmap&style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xc280e9&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:on%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff&markers=icon:{{asset 'images/rapid-ismarker.png'}}|51.80142,-0.196874|alt:Rapid%20Information%20Systems|description:Rapid%20Information%20Systems&key=AIzaSyAyydkwZy7R-3xqU0C10AFDng_JehQ-Gr4);"> --}}
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.8014353,-0.197603&format=png&zoom=9&size=700x700&scale=2&maptype=roadmap&style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xc280e9&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:on%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff&markers=icon:{{asset 'images/rapid-ismarker.png'}}|51.80142,-0.196874|alt:Rapid%20Information%20Systems|description:Rapid%20Information%20Systems&key=AIzaSyAyydkwZy7R-3xqU0C10AFDng_JehQ-Gr4" alt="A static map from Google showing Rapid's location" title="Our location on Google Maps" class="shadowed" loading="lazy" />
                <figcaption class="flexy shadowed"><address>Rapid Information Systems, Albany Chambers, 26 Bridge Road East, Welwyn Garden City, AL7 1HL</address><span class="flexy row">Get directions on&colon;<a href="https://maps.app.goo.gl/Vj53B37NoiD7nZ9w7" title="Google Maps" target="_blank" rel="noopener">Google Maps</a>&amp;<a href="https://w3w.co/putty.speeds.really" title="what3words" target="_blank" rel="noopener">what3words</a></span></figcaption>
            </figure>
        </section>
    </article>
    {{> "form"}}
</section>
{{> "newsletter"}}
{{/post}}
{{/is}}