{{!< default}}
<!-- tag-solutions.hbs -->
{{#is "tag"}}
{{#tag}}
<link rel="stylesheet" href="{{asset "css/solutions.css"}}" type="text/css" media="screen" />
<hgroup class="flexy">
    <h1 id="{{slug}}" title="{{name}}">{{name}}</h1>
    {{#if description}}<p>{{description}}</p>{{/if}}
    <a href="#apps" title="Continue to explore Rapid&apos;s {{slug}} below&hellip;">
        {{> "icons/angle-down"}}
    </a>
</hgroup>
{{#if feature_image}}<figure class="flexy bg-image" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}}; {{/if}}{{/primary_tag}}background-image: url({{img_url feature_image absolute='true'}});">
    <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
    {{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
</figure>{{/if}}
{{#get "posts" include="tags,authors" filter="primary_tag:{{slug}}" limit="all" order="published_at asc" limit=@config.posts_per_page as |post|}}{{#if post}}<section id="apps" class="container flexy row">
    {{#foreach post}}<article class="flexy {{#if @even}}even{{else}}odd{{/if}}" title="{{title}}" tabindex="0">
        <hgroup class="flexy">
            <h2 id="{{slug}}" title="{{title}}">{{title}}</h2>
            <p>{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt characters="140"}}{{/if}}</p>
            <a href="{{url}}" title="Learn more about Rapid&apos;s {{title}} solutions&hellip;" name="learn-more">Learn more</a>
        </hgroup>
        {{#if feature_image}}<figure class="bg-image" style="background-color: {{#if accent_color}}{{accent_color}}{{else}}var(--accent-color){{/if}}; background-image: url({{img_url feature_image absolute='true'}});">
            <img src="{{img_url feature_image absolute='true'}}" title="{{title}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
        </figure>{{/if}}
    </article>{{/foreach}}
</section>{{/if}}{{/get}}
{{/tag}}
{{/is}}