{{!< default}}
<!-- tag-projects.hbs -->
{{#is "tag"}}
{{#tag}}
<section class="heading palette flexy row reverse">
    <hgroup class="flexy">
        <h1 id="{{slug}}" title="{{name}}">{{name}}</h1>
        {{#if description}}<p>{{description}}</p>{{/if}}
    </hgroup>
    {{#if feature_image}}<figure class="flexy bg-image" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}}; {{/if}}{{/primary_tag}}background-image: url({{img_url feature_image absolute='true'}})">
        <img src="{{img_url feature_image absolute='true'}}" alt="{{name}}" title="{{name}}" />
    </figure>{{/if}}
    <footer class="flexy">
        <a href="#browse-projects" title="Continue" class="shadowed">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>
{{> "three-cards"}}
<section id="browse-projects" class="palette filters flexy row">
    <hgroup class="flexy row">
        <h6 id="filter-results" title="Filter results">Filter results&colon;</h6>   
        <label for="project-type" title="Please select the project type" class="flexy">Project type&colon;<select name="type" id="project-type" size="1" autocomplete="off" required="required">
            <option value="all" selected="selected">All</option>
            <option value="authority">Mobile application</option>
            <option value="authority">Web application</option>
            <option value="authority">Web form</option>
        </select></label>
        <label for="lead-interest" title="Please select your interest" class="flexy">Your interest&colon;<select name="interest" id="lead-interest" size="1" autocomplete="off" required="required">
            <option value="all" selected="selected">All</option>
            <option value="studies">Case studies</option>
            <option value="news">Latest news</option>
            <option value="research">Research</option>
        </select></label>
        <label for="lead-region" title="Please select your region" class="flexy">Your region&colon;<select name="region" id="lead-region" size="1" autocomplete="off" required="required">
            <option value="all" selected="selected">All</option>
            <option value="greater&dash;london">Greater London</option>
            <option value="south&dash;east">South East</option>
            <option value="south&dash;west">South West</option>
            <option value="west&dash;midlands">West Midlands</option>
            <option value="east&dash;of&dash;england">East of England</option>
            <option value="north&dash;west">North West</option>
            <option value="north&dash;east">North East</option>
            <option value="yorkshire&dash;and&dash;the&dash;humber&dash;east">Yorkshire and the Humber East</option>
            <option value="scotland">Scotland</option>
            <option value="wales">Wales</option>
        </select></label>
    </hgroup>
    <div class="container disable-scrollbar flexy row">
        {{#get "posts" include="authors, tags, count.posts" filter="tag:{{slug}}+visibility:public" limit=@config.posts_per_page order="featured desc, published_at asc, count.posts desc" limit=@config.posts_per_page as |projects pages|}}{{#foreach projects}}<article class="{{post_class}} flexy row{{#if @even}} reverse{{/if}} shadowed" data-index="{{@index}}" data-play-state="running" title="{{title}}">
            <hgroup class="flexy">
                <h3 id="{{slug}}">{{title}}</h3>
                {{content}}
            </hgroup>
            {{#if feature_image}}<figure class="flexy">
                <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" />
                {{#if custom_excerpt}}<figcaption>{{custom_excerpt}}</figcaption>{{/if}}
            </figure>{{/if}}
        </article>{{/foreach}}
        <div class="controls flexy row">
            <button type="button">See more</button>
            <button type="button">View all</button>
            <button type="button">More results</button>
            <a href="{{page_url next}}">Show next {{@config.posts_per_page}} posts</a>
            <a href="{{page_url next}}">Show next {{@config.posts_per_page}} posts</a>
            {{#if pagination}}{{#match pagination.pages ">" 1}}{{pagination}}{{/match}}{{/if}}
        </div>
        <p class="pagination">{{plural pages.total empty="No search results found" singular="% search result found" plural="% search results found"}}&period;</p>{{else}}<p class="get-posts-error">{{error}}</p>{{/get}}
    </div>
</section>
{{/tag}}
{{/is}}