{{!< default}}
<!-- tag.hbs -->
{{#is "tag"}}
{{#tag}}
<header>
    {{#if feature_image}}<figure>
        <img src="{{feature_image}}" alt="{{name}}" />
    </figure>{{/if}}
</header>
<section class="author-profile">
    <h1 title="{{name}}">{{name}}</h1>
    {{#if description}}<h2>{{description}}</h2>{{/if}}
</section>
<main role="main">
    {{> "loop"}}
</main>
<footer>
    {{!-- Previous/next page links - displayed on every page --}}
    {{#if pagination}}{{pagination}}{{/if}}
    <a href="#main-content" title="Back to top">
        {{> "icons/angle-down"}}
    </a>
</footer>
{{/tag}}
{{/is}}